spring:
  application:
    name: userService
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:5432/family_budget_user
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true
    schemas: public
#  cache:
#    type: caffeine
#    cache-names:
#      - users
#    caffeine:
#      spec: maximumSize=500,expireAfterWrite=10m,recordStats
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true